/* 内容区域毛玻璃 */
#board {
    backdrop-filter: blur(15px);
    background-color: var(--board-bg-color);
  }
  
  /* 目录栏毛玻璃 */
  #toc {
    padding: 10px;
    top: 4rem;
    background-color: var(--board-bg-color);
    border-radius: 10px;
    backdrop-filter: blur(15px);
  }